{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "useBuiltIns": "usage",
                    "corejs": {
                        "version": 3.15,
                        "proposals": true
                    }
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-private-methods"
    ]
}
